.view {
    background: url("https://ep01.epimg.net/cultura/imagenes/2018/08/15/babelia/1534351691_997591_1534352892_noticia_normal_recorte1.jpg")no-repeat center center;
    background-size: cover;
    
}
@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
        
    }
}
.navbar {
    z-index: 1;
}

html,
body,
header,
.view {
  
  height: 79%;
}



/*Para libros vistas*/

.h1_libros{
	text-align: center;
}

.nav-paginacion{
	text-align: center;
	align-items: center;
}